<!DOCTYPE HTML>
<html>
<head>
    <title>P&O3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- for phones -->

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic" rel="stylesheet"
          type="text/css">

    <link rel="stylesheet" href="{{url_for('static', filename= '/css/style-wide.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= '/css/style.css')}}">



    <script src="{{url_for('static', filename='/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/jquery.poptrox-2.2.js')}}"></script>
    <script src="{{url_for('static', filename='/js/skel.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/init.js')}}"></script>


    <script>
        $(document).ready(function () {
            setTimeout(function(){
                window.location.replace('home');
            },5000);
        });
    </script>
</head>
<body>

<div class="navbar">
    <div class="logo">
        <a href="home">IDentiGate</a>
    </div>
    <nav>
    </nav>
    <section>
        <a href="home">Cancel</a>
    </section>
</div>
<div class="arrow_inbetween">

</div>

<div class="face_camera">
    <p> Qr Authentication Success </p>
    <p> You may leave the building</p>
    <div class="numbers" id="just_whitespace" style="float: left;"><p></p></div>
    <div class="numbers" id="one" style="float: left;"><p>3</p></div>
    <div class="numbers" id="two" style="float: left;"><p>2</p></div>
    <div class="numbers" id="three" style="float: left;"><p>1</p></div>
</div>
</body>
</html>