Flask-Session
Flask~=2.0.2
face-recognition
Flask-SQLAlchemy
Flask-SocketIO
Flask-User
plotly
Flask-WTF
WTForms
qrcode
opencv-python
pyotp~=2.6.0
numpy~=1.21.4
Pillow~=8.4.0
Werkzeug~=2.0.2
simple-websocket
email_validator
psycopg2
gunicorn
